/* Fonts */

@font-face {
    font-family: 'Oxygen';
    src: url('res/fonts/Oxygen-Regular.ttf')  format('truetype');
  }

  @font-face {
    font-family: 'Oxygen Bold';
    src: url('res/fonts/Oxygen-Bold.ttf')  format('truetype');
  }

  @font-face {
    font-family: 'Oxygen Light';
    src: url('res/fonts/Oxygen-Light.ttf')  format('truetype');
  }

/* major changes */

* {
    margin: 0px;
    text-decoration: none;
    font-family: 'Oxygen';
}

body {
    display: grid;
    grid-template-rows: 1fr auto 1fr;

}

/* working on the header */

header {
    background-color: white;
    height: 100px;
    grid-row: 1 / 2;
    display: flex;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
}

header h1 {
    margin-right: auto;
    font-size: 64px;
    margin-left: 30px;
}

header nav {
    margin-left: auto;
}

ul {
    list-style: none;
    display: flex;
    font-size: 24px;
    flex-direction: row;
}

li {
    margin-right: 30px;
}

/* working on main */

main {
    grid-row: 2 / -2;
    display: flex;
    flex-direction: column;
    background-color: #F4F4FC;
}

#starter, #main, #dessert, #drinks, #sideorders {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 30px;
    row-gap: 20px;
}

#starter>h1, #main>h1, #dessert>h1, #drinks>h1, #sideorders>h1 {
    grid-column: 1/-1;
}

#pic {
    margin-top: 50px;
    object-fit: cover;
    height: 200px;
    width: 100%;
    transition-duration: all 0.4s;
}

/* article design */

section>h1 {
    font-family: 'Oxygen Bold';
}

section>h1::first-letter {
    font-size:40px;
}

article {
    height: 500px;
    border-radius: 5%;
    background-color: white;
}

article>h1 {
    margin-top: 40px;
}

/* working on footer */

footer {
    grid-row: -2 / -1;
}